:root {
  /* Fonts */
  --jg-title-font: "Bebas Neue", sans-serif;
  --jg-subtitle-font: "Fira Sans", sans-serif;
  --jg-heading-font: "Bebas Neue", sans-serif;
  --jg-body-font: "Roboto", sans-serif;

  /* Colors */
  --jg-primary-color: rgb(29, 6, 67);
  --jg-secondary-color: rgb(66, 148, 186);
  --jg-highlight-color: rgb(250, 225, 120);
  --jg-dark-color: #212121;
  --jg-light-color: #17113fbd;
  --jg-background-color: rgba(250, 250, 250, 0.8);
  --jg-french-gray: #cbcbd7;
  --jg-space-cadet: #222444;
  --jg-slate-blue: #4947d7;
  --jg-light-sea-green: #076866;
  --jg-dark-slate-gray: #0b5351;
  --jg-midnight-blue: #18206f;
  --jg-penn-blue: #17255a;
  --jg-champagne: #f5e2c8;
  --jg-gunmetal: #092327;
  --jg-rich-black: #00171f;
  --jg-prussian-blue: #003459;
  --jg-white: #ffffff;
  --jet: rgb(46, 42, 52);
  --duke-blue: #090c9bff;
  --byzantine-blue: #3d52d5ff;
  --gunmetal: #30343fff;
  --ghost-white: #fafaffff;
  --dark-cyan: #00bebb;
  --delft-blue: #273469ff;
  --charcoal: #2f4858ff;
  --lapis-lazuli: #33658aff;
  --carolina-blue: #86bbd8ff;
  --hunyadi-yellow: #f6ae2dff;
  --carmine: #931621ff;
  --dark-slate-gray: #28464bff;
  --caribbean-current: rgb(43, 86, 95);
  --caribbean-current2: #326771ff;
  --blue-munsell: rgb(34, 141, 155);
  --blue-munsell2: #2c8c99ff;
  --timberwolf: #eadedaff;
  --cinereous: #998888ff;
  --silver: #bfb8adff;
  --burnt-umber: #823329ff;
  --dark-green: #042a2bff;
  --moonstone: #5eb1bfff;
  --fluorescent-cyan: #54f2f2ff;
  --white: #fcfcfcff;
  --dark-purple: #1c0b19ff;
  --dark-purple2: rgb(34, 34, 34);
  --federal-blue: #140d4fff;
  --keppel: #4ea699ff;
  --emerald: #2dd881ff;
  --emerald2: rgb(39, 182, 108);
  --jg-gradient-color: linear-gradient(45deg, rgb(66, 28, 128) 0%, #482c69 40%, #8c3e9d 90%);

  /* Nav bar colors */
  --jg-nav-bg-color: var(--jg-gradient-color);
  --jg-nav-toggler-color: var(--jg-highlight-color);
  --jg-nav-toggler-glow: rgba(250, 255, 120, 0.55);

  /* Form colors */
  --jg-formfocus-border-color: var(--jg-secondary-color);
  --jg-formfocus-shadow: var(--jg-primary-color);
  --jg-form-background-color: var(--jg-background-color);

  /* Text styles */
  --jg-title-color: var(--jg-white);
  --jg-font-size: 1.2rem;
  --jg-font-weight: 400;
  --jg-line-height: 1.5rem;
}

/*
font-family: 'Allan', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* START: Main Header */
.mainLogo {
  height: 0.6em;
}

.mainHeader-cover .mainTitle,
.mainHeader-cover .subTitle {
  color: white;
}

.mainTitle {
  font-family: var(--jg-title-font);
  font-size: 2.4rem;
  line-height: 2rem;
  letter-spacing: 0.5rem;
}

.subTitle {
  font-family: var(--jg-subtitle-font);
  font-size: 0.6rem;
  line-height: 1rem;
  font-weight: 300;
  letter-spacing: 0.09rem;
}

.mainHeader-content {
  height: 100%;
  display: flex;
  align-items: center;
}

.mainHeader-cover {
  /* margin-top: 50px; */
  /* background-image: url(/img/sailing-2to1.png); */
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

.mainHeader-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  /* margin-top: 60px; */
}

.mainHeaderButton {
  margin-top: 10%;
}

/* END: Main Header */

.btn-primary {
  --bs-btn-bg: var(--emerald2);
  --bs-btn-border-color: var(--emerald2);
  --bs-btn-hover-bg: var(--emerald);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-border-color: var(--emerald);
}

/* START: Main Content */
.section-page {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.section-page-last {
  padding-top: 4.5rem;
  padding-bottom: 2.5rem;
}

.even {
  background-color: var(--jg-gradient-color);
}

.odd {
  background-color: var(--jg-primary-color);
}

.section-divider-even {
  height: 3rem;
  width: 100%;
  background-color: var(--jg-primary-color);
  clip-path: polygon(0 100%, 100% 100%, 100% 0%, 0 100%);
  border-bottom: 50px solid var(--jg-primary-color);
}

.section-divider-odd {
  height: 3rem;
  width: 100%;
  background-color: var(--jg-primary-color);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
}

/* .section-page:nth-child(even) {
  background-color: var(--jg-light-color);
}

.section-page:nth-child(odd) {
  background-color: var(--jg-primary-color);
}

.section-page:nth-last-child(2) {
  background-color: var(--jg-primary-color);
}

.section-page:last-child {
  background-color: var(--jg-light-color);
} */

.profilePic {
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  max-height: 500px;
}

#skills .colored {
  font-size: 4rem;
}

.section-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--jet);
  color: var(--jg-light-color);
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.cta-arrow {
  color: var(--jg-highlight-color);
  font-size: 2rem;
  transition: 0.4s;
}

.cta-arrow:hover {
  filter: brightness(1/2);
}

.section-cta span {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* START: Nav Bar*/
.navbar-toggler-jg {
  color: var(--jg-nav-toggler-color);
  font-size: 1.5rem;
}

.navbar-toggler {
  color: var(--jg-nav-toggler-glow);
}

#mainNav {
  background: var(--jg-nav-bg-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px !important;
}

/* END: Nav Bar*/

/* START: Sticky Footer */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--jg-body-font);
  font-size: var(--jg-font-size);
  font-weight: var(--jg-font-weight);
  line-height: var(--jg-line-height);
  color: var(--jg-white);
  background: var(--jg-gradient-color);
  background-attachment: fixed;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}
/* END: Sticky Footer */

/* START: Footer */
.socialicons {
  font-size: 2rem;
  color: var(--emerald2);
  transition: color 0.25s;
}

.socialicons:hover {
  color: var(--jg-highlight-color);
}

.footer-cta {
  background-color: var(--emerald2);
  border-radius: 10px;
  width: 75%;
}

.footer-message {
  color: var(--jg-dark-color);
  letter-spacing: 0.1rem;
}

.footer-main {
  background-color: var(--jet);
}
/* END: Footer */

/* Element overrides */
section {
  padding-left: 1rem;
  padding-right: 1rem;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: var(--jg-heading-font);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--jg-title-color);
  letter-spacing: 0.1rem;
}

.brandImaging {
  max-height: 40px;
}

.mainHeader-cover {
  height: 100vh;
}

.footer-bg-cta {
  margin-bottom: 1rem;
}

/***** MEDIA QUERIES *****/
/* */
/* @media (orientation: landscape) {
  .mainHeader-cover {
    height: 250px;
    background-image: url(/img/sailing-2to1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    margin-top: 56px;
  }
}

@media (orientation: landscape) and (min-width: 650px) and (max-height: 280px) {
  .mainHeader-cover {
    height: 250px;
    background-image: url(/img/sailing-2to1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    margin-top: 30px;
  }
  .mainHeader-wrapper {
    margin-top: 70px;
  }
}

/* Small devices (landscape phones, 576px and up) */

/* @media (min-width: 576px) and (orientation: landscape) and (min-height: 281px) {
  .mainHeader-cover {
    height: 400px;
    background-image: url(/img/sailing-base.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    margin-top: 30px;
  }
}

@media (min-width: 576) and (orientation: portrait) {
  .mainHeader-cover {
    height: 400px;
    background-image: url(/img/sailing-2to1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    margin-top: 50px;
  }
} */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .mainTitle {
    font-size: 4.5rem;
    line-height: 3.5rem;
  }

  .subTitle {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }

  .section-cta {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .cta-arrow {
    font-size: 2.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (orientation: landscape) {
  .mainTitle {
    font-size: 6rem;
    line-height: 5rem;
  }

  .subTitle {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
  }

  .section-cta {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 300;
  }

  .cta-arrow {
    font-size: 3rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (orientation: landscape) {
  .mainTitle {
    font-size: 6rem;
    line-height: 5rem;
  }

  .subTitle {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
  }

  .section-cta {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 300;
  }

  .cta-arrow {
    font-size: 3rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) and (orientation: landscape) {
  .mainTitle {
    font-size: 6rem;
    line-height: 5rem;
  }

  .subTitle {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
  }

  .section-cta {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 300;
  }

  .cta-arrow {
    font-size: 3rem;
  }
}

@media (max-width: 319px) {
  .brandImaging {
    max-width: 170px !important;
  }
}
